.arrow-down, arrow-up {
  width: 0;
  height: 0;
}

.arrow-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  display: inline-block;
}

.arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  display: inline-block;
}

.dropdown-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 3px;
}

.dropdown-value.open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdown {
  padding: 0px;
  border: 1px solid black;
  border-top: none;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100px;
  overflow-y: scroll;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown li {
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
  padding: 5px;
}

.dropdown li:hover {
  background-color: #cccccc;
}

.clear {
  padding: 2px;
  cursor: pointer;
  text-align: right;
}
